@model Shop.Models.InputModels.AddProductInputModel
@{
    this.ViewData["Title"] = "Add product";
}

<h1 class="text-center">Add product</h1>
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" type="text" placeholder="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <textarea asp-for="Description" type="text" placeholder="Description" class="form-control"> </textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="BrandName" class="form-label">Brand name</label>
            <input asp-for="BrandName" type="text" placeholder="Brand name" class="form-control" />
            <span asp-validation-for="BrandName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label">Price</label>
            <input asp-for="Price" type="number" placeholder="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3 form-control form-control-sm" id="characteristic">
            <label asp-for="Characteristics" class="form-label">Characteristics</label>
            <br />
            <input name="Characteristics[0].Key" placeholder="Key" type="text" /> -
            <input name="Characteristics[0].Value" placeholder="Value" type="text" />
        </div>
        <a onclick="AddAnotherCharacteristic()" class="btn btn-primary mb-3">Add more characteristics</a>
        <div class="mb-3 mt-2">
            <label asp-for="SubCategoryName" class="form-label">SubCategory</label>
            <input asp-for="SubCategoryName" type="text" placeholder="SubCategory" class="form-control" />
            <span asp-validation-for="SubCategoryName" class="text-danger"></span>
        </div>
        <div class="mb-3 form-check">
            <input asp-for="IsAvailable" type="checkbox" />
            <label asp-for="IsAvailable" class="form-label">Is available</label>
        </div>
        <input type="submit" class="btn btn-primary " />
    </form>
</div>

@section Scripts {
<script>
     var index  = 1;
     function AddAnotherCharacteristic() {
         $("#characteristic")
         .append
         ("<div class='form-control-sm m-0 p-0 mt-1 mb-1 pt-1'><input type='text' name='Characteristics["+index+"].Key' placeholder='Key'  /> - <input type='text' name='Characteristics["+index+"].Value' placeholder='Value' /> </div>");
    index++;
     }
</script>
}
