@{
    this.ViewData["Title"] = "Administration";
}
<h1 class="text-center">Welcome to the Administration page</h1>
<aside class="">
    <h5>Products</h5>
    <ul>
        <li><a asp-controller="Product" asp-action="Add">Add product</a></li>
        <li>All products</li>
    </ul>
     <h5>Orders</h5>
    <ul>
        <li>New orders</li>
        <li>All orders</li>
    </ul>
     <h5>Categories</h5>
    <ul>
        <li><a asp-controller="Category" asp-action="AddCategory">Add category</a></li>
    </ul>
</aside>